.section {
  width: 100%;
  background: #fffdf7;
  overflow: hidden;
}

/* Container */
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 10rem 6rem 8rem;
  position: relative;
  z-index: 1;
}

/* Header */
.header {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: 5rem;
}

.titleRow {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 1.5rem;
}

.line {
  width: 6rem;
  height: 1px;
  background: var(--pal-brown);
}

.titleWrap {
  display: block;
  overflow: hidden;
}

.title {
  display: block;
  font-family: var(--font-heading);
  font-size: 2.875rem;
  font-weight: 400;
  color: var(--pal-brown);
}

.desc {
  max-width: 45rem;
  font-family: var(--font-paragraph);
  font-size: 1.125rem;
  font-weight: 400;
  text-align: right;
  line-height: 1.6;
  color: var(--pal-grey);
}

.gridWrapper {
  position: relative;
}

/* Dark floating panel */
.bgPanel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 150%;
  height: 75%;
  background: #141414;
  z-index: 0;
}

/* Image Grid */
.grid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 7rem;
  grid-row-gap: 3.5rem;
}

/* Image */
.imageWrap {
  position: relative;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  box-shadow: 0px 0px 100px 0px #ffe4ae70;
}

.image {
  object-fit: cover;
}

@media (max-width: 1536px) {
  .container {
    padding: 8rem 3rem 6rem;
  }
  .grid {
    gap: 3rem;
  }
}

/* Responsive */
@media (max-width: 1024px) {
  .container {
    padding: 8rem 3rem 4rem;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .header {
    margin-left: 0;
  }
  .title {
    font-size: 2rem;
  }
  .desc {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 5rem 1rem 5rem;
  }
  .title {
    font-size: 1.5rem;
    text-align: right;
  }
  .line {
    width: 3rem;
  }
  .grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .bgPanel {
    top: 50%;
    height: 80%;
  }
}
