.hero {
  width: 100%;
  height: 100vh;

  /* background-image: url("/home/hero.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

.bgWrapper {
  position: absolute;
  inset: 0;
  z-index: -1;
  overflow: hidden;
}

.bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  will-change: opacity;
}

.bgOne {
  background-image: url("/home/hero-image-1.jpg");
  opacity: 1;
}

.bgTwo {
  background-image: url("/home/hero-image-2.jpg");
  opacity: 0;
}

/* Inner wrapper controls padding + alignment */
.inner {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  padding: 0 3rem 7.5rem;
  display: flex;
  align-items: flex-end;
}

/* Content container */
.content {
  max-width: 50rem;
}

/* Heading */
.heading {
  font-family: var(--font-heading);
  font-weight: 200;
  font-size: 4rem;
  line-height: 5rem;
  color: #fffffe;
  margin-bottom: 1.5rem;
}

.line {
  display: block;
  will-change: transform;
}

/* Mask wrapper */
.mask {
  overflow: hidden;
}

/* Paragraph */
.paragraph {
  font-family: var(--font-small-heading);
  font-weight: 300;
  font-size: 1.75rem;
  color: #ffe8c3;
  display: block;
}
.fadeUpOnce {
  display: block;
  overflow: hidden;
  will-change: transform;
}

/* Scaled devices Responsivness */
@media (max-width: 1536px) {
  .inner {
    padding: 0 3rem 5rem;
  }
  .content {
    max-width: 35rem;
  }
  .heading {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-bottom: 1rem;
  }
  /* Paragraph */
  .paragraph {
    font-size: 1.25rem;
  }
}

@media (max-width: 1024px) {
  .top {
    grid-template-columns: 1fr 1fr;
  }
  .inner {
    padding: 0 2rem 7.5rem;
  }
  .content {
    max-width: 40rem;
  }
  .heading {
    font-size: 3.75rem;
    line-height: 4.75rem;
  }
  /* Paragraph */
  .paragraph {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .inner {
    padding: 0 1.5rem 4rem;
  }
  .heading {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
  /* Paragraph */
  .paragraph {
    font-size: 0.9rem;
  }
}
