.section {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 2rem;
  /* background: linear-gradient(180deg, #1b1b1b 0%, #2b2b2b 39.58%); */
}

.curveOne {
  position: absolute;
  transform: rotate(11deg);
  width: 120vw;
  left: -2rem;
  top: 13rem;
  opacity: 0.5;
}

.curveTwo {
  position: absolute;
  transform: rotate(15deg);
  width: 120vw;
  left: -2rem;
  top: 16rem;
  opacity: 0.5;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 8rem 6rem;
  box-sizing: border-box;
}

.grid {
  display: flex;
  gap: 10rem;
  align-items: center;
}

/* Left Content */
.content {
  max-width: 40%;
}

.titleRow {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.line {
  width: 6rem;
  height: 1px;
  background: var(--pal-brown);
}

.titleWrap {
  display: block;
  overflow: hidden;
}

.title {
  display: block;
  font-family: var(--font-heading);
  color: var(--pal-brown);
  font-size: 2.875rem;
  margin-bottom: 0.3rem;
  font-weight: 300;
}

.desc {
  font-family: var(--font-paragraph);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 2%;
  color: var(--pal-black);
  margin-bottom: 7rem;
}

.button {
  width: 14rem;
  height: 3.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-small-heading);
  background: var(--pal-brown);
  font-size: 1.25rem;
  font-weight: 400;
  color: #ffffff;
  transition: box-shadow 0.25s ease;
}

.button:hover {
  box-shadow: 0 12px 30px rgba(155, 128, 78, 0.35);
}

/* Right Images */
.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  width: 70%;
}

/* Image Wrapper */
.imageWrap {
  position: relative;
  aspect-ratio: 10 / 16;
  will-change: transform;
  transition: transform 0.4s ease-in-out;
}

/* Border line BEHIND image */
.imageWrap::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid var(--pal-brown);
  will-change: transform;
  transform: translate(1.5rem, 1.5rem);
  transition: transform 0.4s ease-in-out;
  z-index: 0;
  pointer-events: none;
}

/* Actual media (image OR video) */
.imageWrap > video,
.imageWrap > img {
  position: relative;
  z-index: 1;
}

/* Next.js Image */
.image {
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease-in-out;
}

.media {
  position: relative;
  z-index: 1;
  transition: transform 0.4s ease-in-out;
}

.imageWrap:hover .media {
  transform: translate(1rem, 1rem);
}

/* Same size */
.large,
.small {
  margin-top: 0;
}

/* video */
.video {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.4s ease-in-out;
}

/* center control */
.centerControl {
  all: unset;
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  z-index: 2;
}

/* outer brown ring */
.outerRing {
  width: 86px;
  height: 86px;
  background: #9b804ee8;
  border-radius: 9999px;
  display: grid;
  place-items: center;
}

/* inner white circle */
.innerCircle {
  width: 62px;
  height: 62px;
  background: #ffffff;
  border-radius: 9999px;
  display: grid;
  place-items: center;
  position: relative;
}

/* icons */
.playIcon,
.pauseIcon {
  position: absolute;
  width: 22px;
  height: 22px;
  stroke: var(--pal-brown);
  fill: var(--pal-brown);
}

/* default states */
.pauseIcon {
  opacity: 0;
}

/* when playing */
.playing .playIcon {
  opacity: 0;
}

.playing .pauseIcon {
  opacity: 1;
}

/* pause button visible ONLY on hover */
.playing .centerControl {
  opacity: 0;
  transition: opacity 0.25s ease;
}

.playing:hover .centerControl {
  opacity: 1;
}

/* Responsive */
@media (max-width: 1200px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 5rem;
  }

  .images {
    grid-template-columns: 1fr 1fr;
  }

  .small {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 8rem 2rem 4rem;
  }

  .images {
    grid-template-columns: 1fr;
  }
}

/* Scaled devices Responsivness */
@media (max-width: 1536px) {
  .container {
    padding: 8rem 6rem 6rem;
  }
  .grid {
    gap: 5rem;
  }
  .content {
    max-width: 45%;
  }
  .title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  .desc {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 3rem;
  }
  .button {
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
  }
}
/* Tablet Responsivness */
@media (max-width: 1024px) {
  .container {
    padding: 6rem 3rem 6rem;
  }
  .grid {
    gap: 0rem;
    flex-direction: column;
  }
  .content {
    max-width: 100%;
  }
  .titleWrap {
    margin-bottom: 0;
  }
  .title {
    margin-bottom: 0.5rem;
  }
  .desc {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  .button {
    width: 8rem;
    height: 2.7rem;
    font-size: 0.9rem;
    margin-left: auto;
    margin-bottom: 4rem;
  }
  .imageWrap:nth-child(2) {
    transform: translate(-2rem, 3rem);
  }
  .imageWrap:nth-child(1) {
    transform: translate(-2rem, 0rem);
  }
  .section::before {
    opacity: 0.15;
  }
}
/* Mobile Responsivness */
@media (max-width: 768px) {
  .container {
    padding: 4rem 1rem 10rem;
  }
  .title {
    font-size: 1.7rem;
    margin-bottom: 0.25rem;
  }
  .desc {
    margin-bottom: 1.5rem;
  }
  .button {
    width: 7rem;
    height: 2.4rem;
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }
  .imageWrap:nth-child(2) {
    transform: translate(0rem, 3rem);
  }
  .imageWrap:nth-child(1) {
    transform: translate(0rem, 0rem);
  }
  .images {
    width: 80%;
  }
  .grid {
    align-items: start;
  }
}
