.section {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, #1b1b1b 0%, #2b2b2b 39.58%);
}

.section::before {
  content: "";
  position: absolute;
  right: -20rem;
  bottom: -20rem;
  width: 52rem;
  height: 52rem;
  background: radial-gradient(circle, #fff189 0%, rgba(255, 241, 137, 0) 70%);
  opacity: 0.15;
  filter: blur(50px);
  z-index: 0;
  border-radius: 50%;
  pointer-events: none;
}

.removeBefore:before {
  display: none;
}

.curveOne {
  position: absolute;
  transform: rotate(11deg);
  width: 120vw;
  left: -2rem;
  top: 13rem;
  opacity: 0.3;
}

.curveTwo {
  position: absolute;
  transform: rotate(15deg);
  width: 120vw;
  left: -2rem;
  top: 16rem;
  opacity: 0.3;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 12rem 6rem 8rem;
  box-sizing: border-box;
}

.grid {
  display: flex;
  gap: 10rem;
  align-items: center;
}

/* Left Content */
.content {
  max-width: 40%;
}

.titleWrap {
  display: block;
  overflow: hidden;
  margin-bottom: 2.875rem;
}

.title {
  font-family: var(--font-heading);
  color: #ffe4ae;
  font-size: 2.875rem;
  font-weight: 400;
  vertical-align: middle;
}


.subTitleWrap {
  display: block;
  overflow: hidden;
  margin-bottom: 2.875rem;
}

.subTitle {
  font-family: var(--font-small-heading);
  color: #ffe4ae;
  font-size: 1rem;
  font-weight: 400;
  vertical-align: middle;
}


.desc {
  font-family: var(--font-paragraph);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 2%;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 3rem;
}

.button {
  width: 14rem;
  height: 3.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-small-heading);
  background: var(--pal-brown);
  font-size: 1.25rem;
  font-weight: 400;
  color: #ffffff;
  transition: box-shadow 0.25s ease;
}

.button:hover {
  box-shadow: 0 12px 30px rgba(155, 128, 78, 0.35);
}

/* Right Images */
.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  width: 70%;
}

/* Image Wrapper */
.imageWrap {
  position: relative;
  aspect-ratio: 10 / 16;
}

/* Border line BEHIND image */
.imageWrap::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid #ffe4ae80;
  transform: translate(1.25rem, 1.25rem);
  z-index: 0;
  pointer-events: none;
}

/* Actual image container */
.imageWrap > span {
  position: relative;
  z-index: 1;
}

/* Next.js Image */
.image {
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease-in-out;
}

.imageWrap:hover .image {
  transform: translate(1rem, 1rem);
}

/* Same size */
.large,
.small {
  margin-top: 0;
}

.btnWrapper {
  display: flex;
  gap: 1rem;
}

/* Scaled devices Responsivness */
@media (max-width: 1536px) {
  .container {
    padding: 8rem 6rem 6rem;
  }
  .grid {
    gap: 5rem;
  }
  .content {
    max-width: 45%;
  }
  .title {
    font-size: 2.5rem;
  }
  .desc {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 3rem;
  }
  .button {
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
  }
}
/* Tablet Responsivness */
@media (max-width: 1024px) {
  .container {
    padding: 6rem 3rem 12rem;
  }
  .grid {
    gap: 0rem;
    flex-direction: column;
  }
  .content {
    max-width: 100%;
  }
  .titleWrap {
    margin-bottom: 0;
  }
  .title {
    margin-bottom: 1.5rem;
  }
  .desc {
    font-size: 0.9rem;
    margin-bottom: 0rem;
  }
  .button {
    width: 8rem;
    height: 2.7rem;
    font-size: 0.9rem;
    margin-left: auto;
    margin-bottom: 4rem;
  }
  .imageWrap:nth-child(2) {
    transform: translate(-2rem, 3rem);
  }
  .imageWrap:nth-child(1) {
    transform: translate(-2rem, 0rem);
  }
  .btnWrapper {
    display: flex;
    gap: 0.5rem;
  }
}
/* Mobile Responsivness */
@media (max-width: 768px) {
  .container {
    padding: 4rem 1rem 10rem;
  }
  .title {
    font-size: 2.25rem;
    margin-bottom: 1.25rem;
  }
  .desc {
    margin-bottom: 1.5rem;
  }
  .button {
    width: 7rem;
    height: 2.4rem;
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }
  .imageWrap:nth-child(2) {
    transform: translate(0rem, 3rem);
  }
  .imageWrap:nth-child(1) {
    transform: translate(0rem, 0rem);
  }
  .images {
    width: 85%;
  }
  .grid {
    align-items: start;
  }
}

.titleWrap.primaryTitleWrap {
  margin-bottom: 0.5rem;
}