.section {
  position: relative;
  width: 100%;
  background: transparent;
  overflow: hidden;
}

/* LIGHT PANEL BEHIND CONTENT */
.bgPanel {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  background: var(--pal-light);
  z-index: 0;
}

/* MAIN CONTAINER */
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 4rem 6rem 8rem;
  margin: 6rem auto 8rem;
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  gap: 6.75rem;
}

/* IMAGE GROUP (FLOATING FEEL) */
.imageGroup {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.imageWrap {
  max-width: 62rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.image {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

/* TABS */
.tabs {
  display: flex;
  gap: 3.5rem;
  margin-top: -1.5rem;
  z-index: 1;
  margin-right: 1.5rem;
}

.tab {
  width: 10.875rem;
  height: 3.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--pal-brown);
  font-family: var(--font-small-heading);
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
}

.tab.active {
  background-color: var(--pal-light);
  color: var(--pal-brown);
}

/* TEXT GROUP */
.textGroup {
  max-width: 32.4rem;
}

/* title + LINE */
.titleRow {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: fit-content;
  margin-right: 2.5rem;
  margin-bottom: 2.5rem;
}

.heroTitleWrap {
  display: block;
  overflow: hidden;
}

.title {
  display: block;
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 2.875rem;
  color: var(--pal-brown);
  white-space: nowrap;
}

.line {
  width: 6.875rem;
  height: 1px;
  background: var(--pal-brown);
  opacity: 0.6;
}

/* TITLE */
.title {
  margin-bottom: 2rem;
}

.imageTitle {
  margin-bottom: 0rem;
}

/* DESCRIPTION */
.desc {
  font-family: var(--font-paragraph);
  font-size: 1.25rem;
  letter-spacing: 2%;
  line-height: 1.45;
  color: var(--pal-grey);
}

/* Gsap animation */
/* Needed for SplitType animation */
.title {
  overflow: hidden;
}

.char {
  display: inline-block;
  transform: translateY(120px);
}

/* Scaled devices Responsivness */
@media (max-width: 1536px) {
  .container {
    padding: 4rem 3rem 6rem;
    margin: 4rem auto 6rem;
    gap: 4rem;
  }
  .bgPanel {
    width: 85%;
  }
  .tabs {
    gap: 2.7rem;
    margin-top: -1.4rem;
    margin-right: 1rem;
  }
  .tab {
    width: 7.25rem;
    height: 3rem;
    font-size: 1rem;
  }
  .titleRow {
    gap: 1.25rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-right: 0;
  }
  .title {
    font-size: 2.25rem;
  }
  .line {
    width: 4rem;
  }
  .desc {
    font-size: 0.9rem;
  }
  .textGroup {
    max-width: 28rem;
  }
}
/* Tablet Responsivness */
@media (max-width: 1024px) {
  .container {
    padding: 2rem 3rem 4rem;
    margin: 3rem auto 5rem;
    gap: 2rem;
  }
  .tabs {
    gap: 1rem;
    margin-top: -0.75rem;
  }
  .tab {
    width: 5rem;
    height: 2rem;
    font-size: 0.85rem;
  }
  .title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
  .titleRow {
    gap: 0.5rem;
    margin-bottom: 1.25rem;
  }
  .imageTitle {
    margin-bottom: 0rem;
  }
  .line {
    width: 2rem;
  }
  .desc {
    line-height: 1.25rem;
  }
  .textGroup {
    max-width: 20rem;
  }
  .bgPanel {
    width: 90%;
  }
}
/* Mobile Responsivness */
@media (max-width: 768px) {
  .container {
    margin: 1rem auto 5rem;
    padding: 2rem 1rem 4rem;
    gap: 2rem;
    flex-direction: column;
  }
  .title {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
  }
  .titleRow {
    margin-bottom: 1rem;
  }
  .textGroup {
    max-width: 100%;
  }
  .bgPanel {
    width: 50%;
  }
}
