.section {
  width: 100%;
  background-color: #ffffff;
  position: relative;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 12rem 6rem 6rem;
  height: 82rem;
}

/* MAIN 2-COLUMN LAYOUT */
.layout {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  gap: 3rem;
  align-items: start;
  height: 100%;
}

/* LEFT COLUMN */
.leftCol {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
}

/* TEXT BLOCK */
.header {
  max-width: 50rem;
  margin-bottom: 2rem;
}

/* KICKER */
.kicker {
  display: block;
  font-family: var(--font-allcaps);
  font-weight: 400;
  font-size: 1rem; /* 16px */
  line-height: 1.5625rem; /* 25px */
  text-align: left;
  color: var(--pal-brown);
}

.kickerWrap {
  margin-bottom: 1rem;
  display: block;
  overflow: hidden;
}

.headingWrap {
  display: block;
  overflow: hidden;
}

/* HEADING + LINE */
.headingRow {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.heading {
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 2.8125rem; /* 45px */
  line-height: 3.5rem; /* 52px */
  letter-spacing: 0.02em;
  color: var(--pal-brown);
  white-space: nowrap;
}

.line {
  flex: 1;
  height: 1px;
  max-width: 6.5rem;
  background-color: var(--pal-brown);
  opacity: 0.4;
}

/* PARAGRAPH */
.paragraph {
  font-family: var(--font-paragraph);
  font-weight: 400;
  font-size: 1.125rem; /* 18px */
  line-height: 1;
  letter-spacing: 0.02em;
  color: var(--pal-grey);
}

/* LEFT BOTTOM IMAGES (2 COLS) */
.bottomImages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  height: 100%;
}

.imageBox {
  position: relative;
  width: 100%;
  min-height: 100%;
}

/* RIGHT IMAGE */
.rightCol {
  position: relative;
  width: 100%;
  height: 100%;
}

/* COMMON IMAGE */
.image {
  object-fit: cover;
}

/* Scaled devices Responsivness */
@media (max-width: 1536px) {
  .container {
    height: 70rem;
    padding: 8rem 3rem 5rem;
  }
  .kicker {
    line-height: 1.4rem;
    font-size: 0.75rem;
    margin-bottom: 0rem;
  }
  .heading {
    font-size: 2.20rem;
    line-height: 2.7rem;
  }
  .header {
    max-width: 40rem;
    margin-bottom: 2rem;
  }
  .layout {
    gap: 1rem;
  }
  .leftCol {
    gap: 1rem;
  }
  .line {
    opacity: 0.6;
  }
  .paragraph {
    font-size: 0.9rem;
  }
  .bottomImages {
    gap: 1rem;
  }
}
/* Tablet Responsivness */
@media (max-width: 1024px) {
  .container {
    height: 50rem;
    padding: 4rem 2rem;
  }
  .header {
    margin-bottom: 1.75rem;
  }
  .kicker {
    line-height: 0.875rem;
    font-size: 0.575rem;
  }
  .kickerWrap {
    margin-bottom: 0.875rem;
  }
  .headingRow {
    margin-bottom: 0.75rem;
  }
  .line {
    max-width: 3.5rem;
  }
  .heading {
    font-size: 1.8rem;
    line-height: 2.25rem;
  }
  .paragraph {
    font-size: 0.9rem;
  }
}
/* Mobile Responsivness */
@media (max-width: 768px) {
  .container {
    height: 60rem;
    padding: 3rem 1.5rem;
  }
  .layout {
    display: flex;
    flex-direction: column;
  }
  .header {
    margin-bottom: 1rem;
  }
  .kicker {
    font-size: 0.575rem;
    margin-bottom: 0rem;
  }
  .line {
    max-width: 2.5rem;
  }
  .headingRow {
    gap: 0.5rem;
    margin-bottom: 0.875rem;
  }
  .heading {
    white-space: wrap;
    font-size: 1.7rem;
  }
}
